.form{
    display: flex;
    align-items: center;
    gap: 20px;
}

.label{
    display: flex;
    align-items: center;
    gap: 10px;
}
.label span:nth-child(1){
    color: #FB9D2E;
}
.label span:nth-child(2){
    color: #2DAAF0;
}
.label span:nth-child(3){
    color: #575552;
}

.input{
    width: 100%;
    background-color: transparent;
    border: none;
}