.treeview__root{
    width: 230px;
    height: 100%;
    
}

.roving__tab{
    display: flex;
    flex-direction: column;
    overflow: auto;
    list-style: none;
    padding-inline-start: 0px;
}

.box{
    display: flex;
    align-items: center;
    gap: 10px;
    
    font-size: 20px;
}

.arrow{
    width: 15px;
    height: 15px;
    flex-shrink: 0;
}

.inner__item{
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.name{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}