.console__wrapper{
    border-top: 1px solid black ;
}

.list{
    display: flex;
    gap: 10px;
    margin-block-end: 10px;
    padding-inline-start: 0px;
}

.list__item{
    text-transform: uppercase;
}

.console__body{
    height: 100px;
    overflow-y: scroll;
    padding-inline-start: 0px;
}