.developers{
    padding-block: 100px;
}
.developers__title{
    color: #12100C;
    text-align: center;
    font-family: Roboto;
    font-size: 54px;
    font-style: normal;
    font-weight: 700;
    line-height: 63.72px; 
    margin-block-end: 57px;
}