.list{
    padding-inline-start: 0px;
}

.prem__item{
    display: flex;
    gap: 10px;
    font-size: 18px;
    color: #575552;
}

.prem__item span:nth-child(1){
    color: #FB9D2E;
}

.prem__item span:nth-child(2){
    color: #575552;
}

.item__exit{
    color: #575552;
    font-size: 18px;
    margin-block-start: 25px;
}

.prem__item button{
    background-color: transparent;
    border: none;
    font-size: 18px;
    color: #575552;
}