.list{
    display: grid;
    grid-auto-flow: column;
    justify-content: start;
    gap: 1rem;
    overflow-x: auto;
    position: relative;
    padding-block: 2rem;
}

.list::-webkit-scrollbar{
    display: none;
  }
.list::before{
    content: "";
    width: 300px;
    background-color: transparent;
  }
  .list::after{
    content: "";
    width: 200px;
    background-color: transparent;
  }

.list__item{
    width: 300px;
    padding-block: 68px;
    padding-inline-start: 28px;
    border-radius: 0.25rem;
    -webkit-border-radius: 0.25rem;
    -moz-border-radius: 0.25rem;
    -ms-border-radius: 0.25rem;
    -o-border-radius: 0.25rem;
    list-style: none;
    background-size: 382px 398px;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 30px;
    border: 1px solid #66D0FF;
    background: hsl(240, 23%, 26%, .5);
    backdrop-filter: blur(10px);
    box-shadow: 0px 8px 21px 0px rgba(80, 202, 255, 0.30);
    overflow: hidden;
    position: relative;
}




