.list{
    display: grid;
    grid-auto-flow: column;
    justify-content: start;
    gap: 1rem;
    overflow-x: auto;
    position: relative;
    padding-block: 2rem;
    margin-block-end: 100px;
}

.list::-webkit-scrollbar{
    display: none;
  }
.list::before{
    content: "";
    width: 300px;
    background-color: transparent;
  }
  .list::after{
    content: "";
    width: 200px;
    background-color: transparent;
  }





